version 5.226.0
source https://www.nuget.org/api/v2
storage: none

group server
storage:none
source: https://api.nuget.org/v3/index.json
framework: netcoreapp3.1

nuget CosmoStore.TableStorage
nuget FSharp.Core
nuget Microsoft.NET.Sdk.Functions
nuget Thoth.Json.Net

group client
storage:none
source: https://api.nuget.org/v3/index.json
framework: netstandard2.0

nuget Fable.React
nuget Fable.Elmish
nuget Fable.Promise
nuget Fable.Fetch
nuget Thoth.Json

group build
storage:none
source: https://api.nuget.org/v3/index.json
framework: netstandard2.0
nuget Fake.Core.Target
nuget Fake.IO.FileSystem
nuget Fake.JavaScript.Yarn
nuget Fake.DotNet.Paket
nuget Fantomas 3.2.0-beta-001
nuget Thoth.Json.Net